---
layout: default
---
<!-- _layouts/cv.html -->
        <div class="post">

          <header class="post-header">
            <h1 class="post-title">{{ page.title }} {% if page.cv_pdf %}<a href="{{ page.cv_pdf | prepend: 'assets/pdf/' | relative_url}}" target="_blank" rel="noopener noreferrer" class="float-right"><i class="fas fa-file-pdf"></i></a>{% endif %}</h1>
            <p class="post-description">{{ page.description }}</p>

            {% assign long_cv = false %}
            
            <script>
              // function to hide all elements with class containing "hide_event"
              function hideEvents() {
                const hideElems = document.querySelectorAll('[class*="hide_event"]');
                hideElems.forEach(elem => {
                  elem.style.display = "none";
                });
              }

              // function to show all elements with class containing "hide_event"
              function showEvents() {
                const hideElems = document.querySelectorAll('[class*="hide_event"]');
                hideElems.forEach(elem => {
                  elem.style.display = "block";
                });
              }

              // function to toggle between hide/show events
              function toggleEvents() {
                const hideElems = document.querySelectorAll('[class*="hide_event"]');
                const toggleBtn = document.getElementById('toggle-btn');
                if (hideElems[0].style.display === "none") {
                  hideElems.forEach(elem => {
                    elem.style.display = "block";
                  });
                  toggleBtn.textContent = "Hide events";
                  toggleBtn.style.backgroundColor = "#008CBA";
                } else {
                  hideElems.forEach(elem => {
                    elem.style.display = "none";
                  });
                  toggleBtn.textContent = "Show events";
                  toggleBtn.style.backgroundColor = "#4CAF50";
                }
              }
            </script>

            <button id="toggle-btn" onclick="toggleEvents()">Hide events</button>


          </header>

          <article>
            <div class="cv">
              {% for entry in site.data.cv %}
                <div class="card mt-3 p-3">
                  <h3 class="card-title font-weight-medium">{{ entry.title }}</h3>
                  <div>
                  {% if entry.type == "list" %}
                    {% include cv/list.html %}
                  {% elsif entry.type == "map" %}
                    {% include cv/map.html %}
                  {% elsif entry.type == "nested_list" %}
                    {% include cv/nested_list.html %}
                  {% elsif entry.type == "time_table" %}
                   {% include cv/time_table.html %}
                  {% elsif entry.type == "nested_time_table" %}
                   {% include cv/nested_time_table.html %}
                  {% else %}
                    {{ entry.contents }}
                  {% endif %}
                  </div>
                </div>
              {% endfor %}
              </div>
          </article>

        </div>
